[submodule "sourcedata/harrypotter"]
	path = sourcedata/harrypotter
	url = git@github.com:courtois-neuromod/harrypotter.git
	datalad-id = d58c7aa5-3e9f-48bf-9cb9-d55057f460fd
	datalad-url = git@github.com:courtois-neuromod/harrypotter.git
[submodule "sourcedata/smriprep"]
	path = sourcedata/smriprep
	url = /home/bpinsard/projects/rrg-pbellec/datasets/cneuromod_processed/fmriprep/harrypotter/../../smriprep/
	datalad-id = f3ef9683-0a58-4d2b-b4eb-d33d8fc3fd2b
	datalad-url = ../../smriprep/
[submodule "containers"]
	path = containers
	url = http://datasets.datalad.org/repronim/containers/.git
	datalad-id = b02e63c2-62c1-11e9-82b0-52540040489c
	datalad-url = ///repronim/containers
[submodule "sourcedata/templateflow"]
	path = sourcedata/templateflow
	url = http://datasets.datalad.org/templateflow/.git
	datalad-id = c79c47b6-d0fb-11e8-aa11-64006a8a730f
	datalad-url = ///templateflow
